:root{
    --clr-purple-dark: rgb(95, 0, 186);
    --clr-purple-light: rgb(170, 125, 206);
    --clr-purple-bg: rgb(203, 148, 233);
    --clr-orange-accent-dark: #F6A81C;
    --clr-orange-accent-light: #F7D22B;
  }

/*
|| ABOUT
*/

.about {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.mediaSection {
    width: 50%;
}
.textSection {
    width: 50%;
    right: 0;
}
.aboutText {
    padding: 1vw;
    position: relative;
    font-family: "Fengardoneue-Regular";
    text-align: justify;
    font-size: 1.3em;
    color: black;
    transition: .4s ease;
    width: 100%;
    z-index: 1;
    border-radius: 30px;

}
.aboutText:hover {
    color: rgb(95, 0, 186);
    transform: scale(1.01);
    background: rgba(145, 138, 150, 0.1);
}

#ct1 {
    transform: translateX(-45%);
}
#ct2 {
    transform: translateX(-55%);
}
#ct3 {
    transform: translateX(-45%);
}
#ct4 {
    transform: translateX(-55%);
}
#panda001 {
    position: absolute;
    left: -20%;
    top: 10%;
    width: 16vw;
    transition: transform .2s;
    z-index: 10;
    // transform: translate(0%, -460%);
    transition: transform .8s ease-in;
    transition-delay: .1s;
}
#ct1:hover ~ #panda001 {
    transform: translateX(50%) rotate(10deg);
}
#ct1:focus ~ #panda001 {
    transform: translateX(50%) rotate(10deg);
}
#ct2:hover ~ #panda001 {
    transform: translateX(70%) rotate(15deg);
}
#ct3:hover ~ #panda001 {
    transform: translateX(85%) rotate(10deg);
}