:root{
    --clr-purple-dark: rgb(95, 0, 186);
    --clr-purple-light: rgb(170, 125, 206);
    --clr-purple-bg: rgb(203, 148, 233);
    --clr-orange-accent-dark: #F6A81C;
    --clr-orange-accent-light: #F7D22B;
  }

/*
|| ABOUT
*/
.about {
    width: 100%;
    height: 85vh;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}
.textSection {
    position: relative;
    width: 50%;
    margin-left: 40vw;
}
.aboutText {
    padding: 1vw;
    position: relative;
    font-family: "Fengardoneue-Regular";
    text-align: justify;
    font-size: 1.3em;
    color: black;
    transition: .4s ease;
    width: 50vw;
    z-index: 1;
    border-radius: 30px;

}
.aboutText:hover {
    color: rgb(95, 0, 186);
    transform: scale(1.01);
    background: rgba(145, 138, 150, 0.1);
}

#ct1 {
    transform: translateX(10%);
}
// #ct2 {
//     transform: translateX();
// }
#ct3 {
    transform: translateX(10%);
}
#panda001 {
    position: absolute;
    float: right;
    width: 22vw;
    border-radius: 1.5rem;
    transition: transform .2s;
    margin: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10;
    transform: translate(30vw, -80vh);
    transition: transform .8s ease-in;
    transition-delay: .1s;
}
#ct1:hover ~ #panda001 {
    transform: translate(28vw, -80vh) rotate(-15deg);
}
#ct2:hover ~ #panda001 {
    transform: translate(25vw, -80vh) rotate(-10deg);
}
#ct3:hover ~ #panda001 {
    
    transform: translate(22vw, -80vh) rotate(-20deg);
    
}