/*
|| FORM
*/
.applicationForm {
    position: relative;
    width: 100%;
    min-height: 85vh;
    overflow-y: hidden;
}
.formSection {
    box-sizing: border-box;
    margin: auto;
    width: 60%;
}
form {
    text-align: left;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 60%;
    border-radius: 1.5rem;
    background-color: #f2f2f2;
    padding: 1.5rem;
    transition: transform .2s;

  }

.container:focus-within {
    transform: scale(1.05);
    box-shadow: 0 -3px 15px rgba(black, .3);
}
.container:hover {
    transform: scale(1.05);
    box-shadow: 0 -3px 15px rgba(black, .3);
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row {
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*
|| BIKE
*/
#bikeRow {
    // text-align: center;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 5s;
}

.bikeDiv {
    position: absolute;
    display: inline-block;
    
}


.bikeImage {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    transform: translateX(-50%);
}

#bikeTop {
    animation-name: fadeTop;
    animation-iteration-count: infinite;
    animation-duration: .4s;
}
#bikeBottom {
    animation-name: fadeBottom;
    animation-iteration-count: infinite;
    animation-duration: .4s;
}

@keyframes fadeTop {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeBottom {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#row0:focus-within ~ #bikeRow {
    transform: translateX(-50%);
}
#row1:focus-within ~ #bikeRow {
    transform: translateX(-25%);
}
#row2:focus-within ~ #bikeRow{
    transform: translateX(0%);
}
#row3:focus-within ~ #bikeRow {
    transform: translateX(25%) rotate(0deg);
}
#row4:focus-within ~ #bikeRow {
    transform: translateX(100%) rotate(-15deg); 
    // transition: transform 15s;
}