:root{
    --clr-purple-dark: rgb(95, 0, 186);
    --clr-purple-light: rgb(170, 125, 206);
    --clr-purple-bg: rgb(203, 148, 233);
    --clr-orange-accent-dark: #F6A81C;
    --clr-orange-accent-light: #F7D22B;
  }
/*
||  FEED
*/

body {
    overflow-y: hidden;
    background: var(--clr-purple-bg);
}
.feed {
    position: relative;
    width: 100%;
    min-height: 84.5vh;
    margin: 0;

    padding: 2rem;
    
    display: flex;
    text-align: left;

    overflow-y: auto;
}
.feedHeadline {
    position: fixed;
    font-size: 1.5rem;
    font-family: 'Fengardoneue-Regular';
    cursor: url('../media/img/HandFinger.png'), pointer;

    
}

.feed ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.feedItem {
    padding: 1rem;
    margin: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
    color: black;
    list-style: none;
    width: 50%;
    width: fit-content;
    
    transition: .2s ease;

    padding-bottom: 1.5vw;
}

.feedItem:hover {
    // color: rgb(39, 168, 39);
    color: var(--clr-purple-light);
}

.feedItem > .feedContent {
    opacity: 0;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 10;
    padding: 2vw;

    transform: translateY(-100%);
    transform-origin: right;
    transition: transform .5s ease-in;
}
.feedContent {
    position: absolute;
    width: 100%;
}
.feedItem h1 {
    margin-top: 0;
    font-family: "Fengardoneue-Black";
}
.feedItem:focus-within {
    color: var(--clr-purple-dark);
}
.feedItem:focus-within > .feedContent {
    opacity: 1;
    transform: translateY(0);
}




// Content Text
.contentHeadline {
    padding-left: 1.5vw;
    font-size: 3rem;
    margin-bottom: unset;
}
.contentText {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    font-family: "Fengardoneue-Regular";
    font-size: 1.3rem;
    color: black;
    transition: .4s ease;
    width: fit-content;
    z-index: 1;
    border-radius: 1.5rem;
}
.contentText:hover {
    color: var(--clr-purple-dark);
    transform: scale(1.01);
}

.t-m-container {
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}
.t-m-container:hover {
    background: rgba(255,255,255,.4);
}
#tmc-p002 {
    padding-bottom: 11rem;
}
#tmc-top-1 {
    margin-bottom: unset;
}
#tmc-top-2 {
    margin-bottom: unset;
}
#tmc-top-4 {
    margin-bottom: unset;
}


@media only screen and (min-width: 2000px)  {
    .contentHeadline {
        font-size: 4rem;
    }
    .feedHeadline {
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 1700px)  {
    .contentHeadline {
        font-size: 2rem;
    }
    .feedHeadline {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 1500px)  {
    .contentHeadline {
        font-size: 1.5rem;
    }
    .feedHeadline {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 1200px)  {
    .contentHeadline {
        font-size: 1.5rem;
    }
    .feedHeadline {
        font-size: 1.0rem;
    }
}
@media only screen and (max-width: 1000px)  {
    .contentHeadline {
        font-size: 1.5rem;
    }
    .feedHeadline {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 920px)  {
    .feedContent {
        position: relative;
    }
    .feedItem .feedContent {
        width: 100%;
    }
}




// CONTENT IMAGES
.feed img {
    position: relative;
    float: right;
    width: 22vw;
    max-width: 800px;
    border-radius: 1.5rem;
    transition: transform .2s;
    margin: 1rem;
    z-index: 10;
}
.feed img:hover {
    transform: scale(1.05);
    box-shadow: 0 -3px 15px rgba(black, .3);
}
.feed .anti001 {
    width: 14vw;
}

// CONTENT VIDEOS

.contentVideo {
    width: 95%;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    border-radius: 1.5rem;
    cursor: url('../media/img/HandFinger.png'), pointer;
}
.talkVideo {
    position: relative;
    width: 60%;
    border-radius: 1.5rem;
    cursor: url('../media/img/HandFinger.png'), pointer;
    z-index: 12;
}

#feed-si1 {
    margin: 1.5rem;
    float: left;
}
.anti001 {
    width: 10vw;
}
.feed .anti002 {
    margin: 1rem;
}
#mlsInterview {
    float: right;
    margin: 1rem;
}
#mlsTalkshow1 {
    float: right;
    margin: 1rem;
}
#mlsTalkshow2 {
    float: left;
    margin: 1rem;
}
#mlsTalkshow3 {
    float: right;
    margin: 1rem;
}
#mlsTalkshow4 {
    float: left;
    margin: 1rem;
}